* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

.nav {
  width: 100%;
  height: 82.09px;
}
.nav__main {
  margin: auto;
  display: flex;
  width: 60%;
  -moz-column-gap: 660px;
       column-gap: 660px;
  padding: 26px;
}
.nav__logo {
  display: flex;
}
.nav__logo img {
  height: 29px;
}
.nav__list--container {
  list-style: none;
  display: flex;
  gap: 52px;
}
.nav__list {
  font-size: 16px;
}

.nav__list:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

.main {
  height: 64px;
  background-color: black;
  text-align: center;
}
.main__sale {
  color: aliceblue;
  display: flex;
  margin: auto;
  text-align: center;
  width: 25%;
  padding-top: 19px;
  font-size: 16px;
}
.main__sale p {
  font-size: 19px;
}

.main__first {
  display: flex;
  background: #451314;
}

.first {
  display: flex;
  justify-content: center;
}
.first__page {
  display: flex;
  margin: auto;
  width: 69%;
  gap: 136px;
}
.first__list--container {
  display: flex;
  justify-content: center;
}
.first__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  justify-content: center;
}
.first__text {
  color: white;
}
.first__text h3 {
  font-size: 48px;
}
.first__text p {
  font-size: 16px;
}
.first__button {
  width: 109px;
  height: 50px;
}

.main__second {
  display: flex;
  height: 762px;
  margin: auto;
  width: 65%;
  justify-content: center;
  gap: 50px;
}

.second__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second__list--container {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 54px;
}
.second__list {
  text-decoration: none;
}
.second__list h3 {
  font-size: 40px;
}
.second__list p {
  font-size: 16px;
}
.second__button {
  width: 109px;
  height: 50px;
  background-color: black;
  color: white;
}
.second__image {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 141px;
}

.image {
  justify-content: center;
  gap: 10px;
}
.image__first {
  height: 512px;
  width: 264px;
}
.image__second img {
  height: 512px;
  width: 264px;
}
.image__third {
  height: 512px;
  width: 264px;
}

.main__third {
  background-image: url(./image/background_1.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 430px;
}

.third__text {
  background-color: transparent;
}
.third__text h3 {
  font-size: 48px;
  text-align: center;
  color: white;
  padding-top: 169px;
}

.main button {
  margin-top: 20px;
}

.four__all {
  margin: auto;
  display: flex;
  gap: 24px;
  width: 65%;
  margin-top: 102px;
  height: 660px;
}
.four__image {
  list-style: none;
}
.four__image p {
  margin-top: 23px;
  font-size: 20px;
}
.four__image h3 {
  font-size: 28px;
}

.four__button {
  width: 109px;
  height: 50px;
  background-color: black;
  color: white;
  margin-top: 20px;
}

.main__five {
  background-image: url(./image/background_2.webp);
  background-color: transparent;
  position: center;
  color: white;
}

.five__all {
  height: 560px;
  width: 70%;
  margin: auto;
}
.five__list--container {
  list-style: none;
  padding-top: 127px;
}
.five__header {
  font-size: 40px;
}
.five__text {
  font-size: 64px;
  width: 59%;
  padding-bottom: 23px;
}
.five__form {
  width: 400px;
  height: 35px;
  margin-bottom: 29px;
}
.five__button {
  width: 109px;
  height: 50px;
  background-color: black;
  color: white;
}

.footer {
  width: 100%;
  height: 400px;
}
.footer__all {
  display: flex;
  width: 85%;
  margin: auto;
  font-size: 22px;
  gap: 113px;
  display: flex;
  justify-content: space-around;
  padding: 37px;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 89px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  row-gap: 89px;
}
.footer__right--list {
  list-style: none;
}/*# sourceMappingURL=style.css.map */